<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AA Communication</title>
    <link rel="stylesheet" href="/css/communication.css">
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

</head>

<body>
    
    <div class="allianceTitle">Alliance-Agenda</div>
    <div class="chatTitle">Chats</div>
    <div class="container">
        <div class="heading">
            <span id="gg"></span>
            <button id="refreshButton" onclick="window.location.reload()"><img src="./images/refreshLogo.png" alt=""></button></div>
        <div id="messages"></div>
        <form id="message-form">
            <input type="hidden" id="userId"> 
            <input type="text" id="message-input" placeholder="Type your message here...">
            <button type="submit" id="submitButton">Send</button>
        </form>
    </div>

    
    

    <script src="/scripts/comScript.js"></script>

</body>

</html>