<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon"  type="image/svg+xml" sizes="32x32" href="../public/images/logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllianceAgenda</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/index.css">
    
    <!-- Bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <!-- navbar section
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        
        <div class="container">
            <a class="navbar-brand" href="#">AllianceAgenda</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Show Dashboard</a>
                    </li> -->
                <!-- </ul>
            </div>
            <button class="dashboard" onclick="window.location.href='dashboard'">Show Dashboad</button>

        
        </div>
    </nav> -->
    <!-- navbar section ends -->

    <!-- jumbotron section -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Welcome to AllianceAgenda</h1>
            <p class="lead">The ultimate tools for your organization.</p>
            <a href="\login" class="btn btn-lg">Get Started...</a>

            <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="../images/index1.png" alt="Example Image">
                        <div class="card-body">
                            <h4 class="card-title">Plan your Tasks</h4>
                            <p class="card-text">Create tasks, assign them to team members, set deadlines, and track progress.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="collaboration" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">Collaboration in your organization</h4>
                            <p class="card-text">Communicate with your team members, share files.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1526948128573-703ee1aeb6fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="reporting" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">Tasks</h4>
                            <p class="card-text">Generate tasks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="social-icons">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin-in"></a>
            </div>
            <div style="margin-top: 50px;"><br></div>
                Welcome to Alliance Agenda!
                <br>
                We are a dedicated team focused on creating innovative solutions for effective communication and
                efficient task and event management. Our platform, Alliance Agenda, is designed to streamline your
                workflow, keeping you organized and connected.
                <br><br>
                Our Founder: <br>
                Ashish Bhosale is the visionary behind Alliance Agenda. With a passion for technology and a
                commitment to excellence, Ashish has been instrumental in bringing this platform to life. He is
                currently pursuing a Master of Computer Applications (MCA) at ASMS IBMR, where he continues to
                expand his knowledge and skills in the field of software development.
            </div>
            
            <br><br><br><br>
        </div>
        
            <p>© 2024 AllianceAgenda. All rights reserved.</p>
            
        </div>
    </div>
        </div>
        
    </div>
    
    <!-- jumbotron section ends -->

    <!-- features section -->
    
    <!-- features section ends -->

    <!-- footer section -->
  


    <!-- footer section ends -->

    <!-- Bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>