<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AA Communication</title>
    <link rel="stylesheet" href="/css/communication.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

</head>

<body>
    <div id="messages"></div>
    <form id="message-form">
        <input type="hidden" id="userId"> 
        <input type="text" id="message-input" placeholder="Type your message here...">
        <button type="submit">Send</button>
    </form>

    <script src="/scripts/comScript.js"></script>

</body>

</html>