.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: #1e1e22; 
    color: rgba(255, 255, 255, 0.771);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    transition: all 0.3s ease;
}

.navbar .nav-links li {
    margin: 0 15px;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: rgba(99, 144, 247, 0.863);
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #ff6347; /* Tomato color for hover effect */
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        /* background-color: rgba(51, 51, 51, 0.9); More opaque for mobile */
        text-align: center;
    }
    
    .nav-links li {
        margin: 15px 0;
    }
    
    .burger {
        display: block;
    }
}

/* Animation for burger menu */
.burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.toggle .line2 {
    opacity: 0;
}

.burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Animation for nav links */
.nav-links.nav-active {
    display: flex;
    animation: navLinkFade 0.5s ease forwards;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
